body{
    
    background-image: url('images/0.jpg');
    background-size:100%;
   
    text-align: center;
    background-color: rgb(10, 10, 73);
    justify-content: center;
    display: grid;
}
#weather-card{
    background:lightblue
}
#city{
    color: white;
    font-size: xx-large;
}
#input{
    margin-top: 6rem;
}
#output{
    color: black;
}
.card{
    text-align: center;
    box-shadow: 10px 10px 25px black;
    width: 18rem;
}
#des{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  

}
#top-img{
    height: 5rem;
    width: 5rem;
    margin-bottom: 0;
    display: inline;
}
#top{
    
   
   
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
}
#min-temp{
    
    display: inline;
    margin-top: 1rem;
    
}
#max-temp{
display: inline;
font-size: 1.5rem;
}
#feels{
    font-style: italic;
    font-size:.75rem;
}
#ctemp{
    font-size: 2rem;
}



@media only screen and (min-width: 2000px) {
    h1{
        font-size: 6rem;
    }
    .card {
        font-size: xx-large;
        width: 35rem;
        height: 30;
    }
    #min-temp{
        
        display: inline;
        
        font-size: 2.5rem;
        
    }
    #max-temp{
    display: inline;
    font-size: 4rem;
    }
    #feels{
        font-style: italic;
        font-size:2.25rem;
    }
    #ctemp{
        font-size: 4rem;
    }
    #city-name{
        font-size: 4rem;
    }
    #input{
        font-size: 3rem;
    }
    #units{
        font-size: 3rem;
    }
    #button{
        font-size: 3rem;
    }
  }

